body{
    margin-right: 10%;
    border-radius: 5%;
    margin-left: 10%;
    background-color: rgb(199, 199, 240);

}

main
{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;

}
.container
{
    display: flex;
    align-items: center;
    color: blue;
    font-size: 150%;
    
}

.container img {
    margin-top: 5%;
  width: 200px;
  height: auto;
  margin-right: 20px; /* image aur text ke beech gap */
}


section
{
    text-align: left;
    font-size: larger;
}
.a1,.a2,.a3,.a4,.a5,.a6
{
    color:blue;
    font-size:50px;
    margin-top: 20%;
    font-size: 150%;
}
.ar1,.ar2,.ar3,.ar4,.ar5,.ar6
{
    font-size: 30px;
    text-align: center;
}
